body {
	margin: 0px;
	background-color: white;
	cursor: crosshair;
}

.nav { display: inline;}
.nav a{
	background-color: black;
	color: white;
	border:2px black solid;
	padding-left:10px;
	text-decoration: none;
	float: left;
	margin:2.5%;
	display: inline  ;

	} 

.nav h2 { 
	height: 10 px;	
	font-color: red;}

@media (max-width: 800px)


